<div class="container" ng-controller="CartController">

    <!-- Show if there are games -->
    <div ng-if="vm.showTablesIfThereAreGames">
        <h3 class="top-buffer">In Cart </h3>
        <div class="col-sm-7 top-buffer">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="item in vm.games">
                    <td>{{$index + 1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td><a class="text-danger" ng-click="vm.delete(item)">Remove</a></td>
                    <td></td>
                </tr>
                <tfoot>
                    <tr>
                        <td><strong>total</strong></td>
                        <td></td>
                        <td><strong>{{vm.total|currency}}</strong></td>
                        <td></td>
                        <td><button class="btn btn-sm btn-success">Purchase</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
       
    </div>

    <!-- Show if there are no games in cart -->
    <div ng-if="vm.showIfThereAreNoGames">
        <h4 class="h4">Cart is empty ! <a href="#game">Click to find games.</a> </h4>
    </div>
    
</div>