<div ng-controller="ForumController">
    <h4 class="page-header">Discussion forum</h4>

    <div class="container">

        <!-- Create topic button -->
        <button ng-if="!vm.showAddTopic" class="btn btn-success" ng-click="vm.showAddTopicClick()">
            CREATE TOPIC
        </button>

        <!-- Cancel button -->
        <button ng-if="vm.showAddTopic" class="btn btn-danger" ng-click="vm.showAddTopic=false">
            CANCEL
        </button>

        <!-- Search bar-->
        <div class="pull-right">
            <div>
                <input type="text" ng-model="vm.searchString" />
                <button class="btn" ng-click="vm.get()">Search</button>
            </div>
        </div>

        <!-- Add topic form-->
        <form ng-if="vm.showAddTopic" class="top-buffer form-group">
            <input type="text" class="form-control col-sm-4" placeholder="topic title" ng-model="vm.topicToAdd.Title" />
            <input type="submit" class="btn btn-primary" value="Add topic" ng-click="vm.addTopic()"/>
        </form>

        <!-- Topic table -->
        <table class="big-top-buffer table table-bordered" ng-if="vm.showTable">
            <thead>
                <tr>
                    <td></td>
                    <td><strong>Subject</strong></td>
                    <td><strong>Author</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="topic in vm.topics">
                    <td>{{$index + 1}}.</td>
                    <td><a ng-click="vm.goToTopic(topic)">{{topic.Title}}</a></td>
                    <td>By {{topic.UserName}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>