@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-app="mainModule">
    <!-- Menu navigation -->
    <div ng-controller="NavigationController" class="navigation">
        <nav-tabs></nav-tabs>
    </div>
   <div ng-view></div>
</div>