<div class="register" ng-controller="RegisterController">
    <h3>Create new account</h3>
    <form class="col-sm-4">
        <label>E-mail address {{registration.email}}</label>
        <input type="email" ng-model="registration.email"  />
        <label>Username</label>
        <input type="text" ng-model="registration.userName"/>
        <label>Password</label>
        <input type="password" ng-model="registration.password" />
        <label>Confirm password</label>
        <input type="password" ng-model="registration.confirmPassword" />
        <br/>
        <button class="btn btn-primary" ng-click="vm.register(registration)">Register</button>
    </form>
</div>