
<nav>
    <div class="navigation">
        <div>

            <!-- Menu -->
            <ul class="standardMenu" ng-repeat="menu in vm.menus">
                <!-- :: one way binding -->
                <li class="{{menu.active}}"><a href="{{menu.link}}" ng-click="vm.setActive($index)">{{::menu.name}}</a></li>
            </ul>

            <!-- User signed out-->
            <div ng-show="vm.loggedOut">
                <a class="navbar-text pull-right" ng-click="vm.registerClick()">{{vm.authRegister.name}}</a>
                <a class="navbar-brand pull-right" ng-click="vm.loginClick()">{{vm.authUser.name}}</a>
            </div>

            <!-- Drop down menu, user signed in -->
            <div ng-show="vm.loggedIn === true">
                <a class="dropmenu" data-toggle="dropdown">welcome {{vm.user}}<span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li><a>{{vm.cart.name}}</a></li>
                    <li><a>{{vm.account.name}}</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="vm.logoutClick()">{{vm.logout.name}}</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>

