<div ng-controller="OrderController">
    <h4 class="page-header top-buffer">
        Orders
    </h4>

    <!-- Orders table -->
    <table class="table" ng-show="vm.showOrders">
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Delivery address</td>
                <td>Contact mail</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.orders">
                <td>{{order.Id}}</td>
                <td>{{order.Surname}}, {{order.Name}}</td>
                <td>{{order.DeliveryAddress}}</td>
                <td>{{order.ContactEmail}}</td>
                <td>{{order.Amount |currency}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button ng-if="vm.pageNumber !== 1" class="btn btn-sm btn-warning" ng-click="vm.back()">
                        <span class="glyphicon glyphicon-menu-left"></span>
                        Back
                    </button>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button ng-if="vm.games.length === vm.pageSize" class="btn btn-sm btn-warning pull-right" ng-click="vm.next()">
                        Next
                        <span class="glyphicon glyphicon-menu-right  col-sm-offset-1"></span>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Show if there are no orders -->
    <h4 ng-show="!vm.showOrders" >
        There aren't any orders.<a ng-href="#game" ng-click="vm.findGamesClick()"> Click to find games.</a>
    </h4>
</div>